<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magefan\Blog\Model\ResourceModel\Category">
        <plugin disabled="false" name="magefan_blogplusrelatedproducts_save_category_update_related_products" sortOrder="10" type="Magefan\RelatedProducts\Plugin\Model\ResourceModel\CategoryPostUpdateRelatedProductsPlugin"/>
    </type>
</config>
