<?xml version="1.0"?>
        <config xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <preference type="Mancini\CatalogWidget\Block\Product\ProductsList" for="Magento\CatalogWidget\Block\Product\ProductsList"/>
        </config>
