<?xml version="1.0"?>
        <config xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <preference type="Mancini\Catalog\Block\Product\ListProduct" for="Magento\Catalog\Block\Product\ListProduct"/>
        <preference type="Mancini\Catalog\Block\Category\View" for="Magento\Catalog\Block\Category\View"/>
</config>
