<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Controller\Account\LoginPost" type="Mancini\CustomerSignIn\Controller\Account\LoginPost" />
    <preference for="Magento\Customer\Controller\Account\ForgotPasswordPost" type="Mancini\CustomerSignIn\Controller\Account\ForgotPasswordPost" />
    <preference for="Magento\Customer\Controller\Account\ResetPasswordPost" type="Mancini\CustomerSignIn\Controller\Account\ResetPasswordPost" />
</config>
