<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <rootways_authorizecim_option>
                <model>AuthorizecimFacade</model>
                <title>Authorizecim Payment By Rootways</title>
                <payment_action>authorize_capture</payment_action>
                <active>0</active>
                <allowspecific>0</allowspecific>
                <order_status>processing</order_status>
                <environment>sandbox</environment>
                <vault_active>1</vault_active>
                <paymentInfoKeys>cc_type,cc_numlast4,transaction_id,avs_response_code,cvd_response_code</paymentInfoKeys>
                <privateInfoKeys>cc_type,cc_number,cc_numlast4,avs_response_code,cvd_response_code</privateInfoKeys>
                <cctypes>AE,VI,MC,DI,JCB,CUP,DN,MI</cctypes>
                <useccv>1</useccv>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_accept_payment>1</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_edit>1</can_edit>
                <can_use_internal>1</can_use_internal>
                <can_review_payment>1</can_review_payment>
                <c_minimum_score>0.5</c_minimum_score>
                <v2_validation_failure_message>reCAPTCHA verification failed.</v2_validation_failure_message>
                <v3_validation_failure_message>You cannot proceed with such operation, your reCAPTCHA reputation is too low.</v3_validation_failure_message>
            </rootways_authorizecim_option>
            <rootways_authorizecim_option_cc_vault>
                <model>AuthorizecimCreditCardVaultFacade</model>
                <title>Stored Cards (Authorizecim)</title>
                <instant_purchase>
                    <supported>1</supported>
                </instant_purchase>
            </rootways_authorizecim_option_cc_vault>
            <rootways_authorizecim_option_hosted>
                <active>0</active>
                <title>Authorize.net Hosted Payment Form</title>
                <model>Rootways\Authorizecim\Model\HostedPayment</model>
                <payment_mode>1</payment_mode>
            </rootways_authorizecim_option_hosted>
            <rootways_authorizecim_option_visa>
                <model>AuthorizecimVisaCheckoutFacade</model>
                <title>VISA Checkout by Rootways</title>
                <payment_action>authorize_capture</payment_action>
                <active>0</active>
                <allowspecific>0</allowspecific>
                <!--
                <paymentInfoKeys>cc_type,cc_numlast4,transaction_id,avs_response_code,cvd_response_code</paymentInfoKeys>
                <privateInfoKeys>cc_numlast4,avs_response_code,cvd_response_code</privateInfoKeys>
                <cctypes>AE,VI,MC,DI,JCB,CUP,DN,MI</cctypes>
                -->
                <!-- Here is what we can do -->
                <is_gateway>1</is_gateway>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_accept_payment>1</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_edit>1</can_edit>
                <can_use_checkout>1</can_use_checkout>
                <can_review_payment>1</can_review_payment>
            </rootways_authorizecim_option_visa>
        </payment>
    </default>
</config>
