<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<mancini_catalog>
			<general>
				<on_sale>On Sale</on_sale>
				<free_delivery>Free Delivery</free_delivery>
			</general>
		</mancini_catalog>
	</default>
</config>
