@import "_typography.less";
body{
    /* font-family: 'laca-regular, sans-serif' !important; */
    font-family: 'laca-regular, sans-serif' !important;
    font-size: 18px !important;
    /* font-size: 1rem !important; */
}

/* h1{
    font-family: 'laca-regular, sans-serif' !important;
} */

@media screen and (max-width: 425px) {
    /* body{
        font-size: 16px !important;
    } */
}
