<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Amasty\Storelocator\Model\Location" type="Mancini\Storelocator\Rewrite\Amasty\Storelocator\Location"/>
	<preference for="Amasty\Storelocator\Controller\Index\Ajax" type="Mancini\Storelocator\Controller\Index\Ajax" />
</config>