<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_SpinToWin
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Webkul\SpinToWin\Model\ResourceModel\Info\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">spintowin_info</argument>
            <argument name="resourceModel" xsi:type="string">Webkul\SpinToWin\Model\ResourceModel\Info</argument>
        </arguments>
    </virtualType>
    <type name="Webkul\SpinToWin\Model\ResourceModel\Info\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">spintowin_info</argument>
            <argument name="eventPrefix" xsi:type="string">spintowin_info_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">spintowin_info_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Webkul\SpinToWin\Model\ResourceModel\Info</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="spintowin_info_list_data_source" xsi:type="string">Webkul\SpinToWin\Model\ResourceModel\Info\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Webkul\SpinToWin\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Webkul\SpinToWin\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">customLogHandler</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Webkul\SpinToWin\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Controller\Cart\CouponPost">
        <plugin name="spintowincouponapply" type="Webkul\SpinToWin\Plugin\CouponPost" sortOrder="1" />
    </type>
    <preference for="Magento\SalesRule\Model\ResourceModel\Rule\Quote\Collection" type="Webkul\SpinToWin\Model\Rewrite\RuleQuoteCollection" />
    <preference for="Magento\Quote\Model\CouponManagement" type="Webkul\SpinToWin\Model\Rewrite\CouponManagement" />
</config>
