<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_SpinToWin
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="wk_spin_after_order_place" instance="Webkul\SpinToWin\Observer\OrderPlaceAfter" />
    </event>
    <event name="customer_logout">
        <observer name="spintowin_customer_logout" instance="Webkul\SpinToWin\Observer\CustomerDataClear" />
    </event>
    <event name="customer_login">
        <observer name="spintowin_customer_login" instance="Webkul\SpinToWin\Observer\CustomerDataClear" />
    </event>
    <event name="customer_register_success">
        <observer name="spintowin_customer_register_success" instance="Webkul\SpinToWin\Observer\CustomerDataClear" />
    </event>
</config>
