<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mirasvit_GdprConsent::gdpr_consent" title="Customers' Consents" module="Mirasvit_GdprConsent" resource="Mirasvit_GdprConsent::gdpr_consent"
             action="gdpr_consent/consent" parent="Mirasvit_Gdpr::gdpr"/>
    </menu>
</config>
