<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mirasvit_Gdpr::gdpr" title="GDPR" module="Mirasvit_Gdpr"
             resource="Mirasvit_Gdpr::gdpr" sortOrder="1000" parent="Magento_Customer::customer"/>

        <add id="Mirasvit_Gdpr::gdpr_request" title="Customers' Requests" module="Mirasvit_Gdpr" resource="Mirasvit_Gdpr::gdpr_request"
             action="mst_gdpr/request" parent="Mirasvit_Gdpr::gdpr"/>
    </menu>
</config>
